workflows/telegram-ai-bot.json
{
  "name": "Telegram AI Bot (Gemini)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-ai-bot",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "chat-id",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "username",
              "name": "userName",
              "value": "={{ $json.message.from.first_name || 'Друг' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1000
        },
        "messages": {
          "values": [
            {
              "content": "Ты дружелюбный AI ассистент в Telegram боте. Отвечай на русском языке, будь полезным и приветливым."
            },
            {
              "role": "user",
              "content": "={{ $json.userMessage }}"
            }
          ]
        }
      },
      "id": "gemini-ai",
      "name": "Google Gemini AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleGeminiOAuth2Api": {
          "id": "google-gemini-credentials",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Google Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini AI": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "telegram",
      "id": "telegram-tag"
    },
    {
      "name": "ai",
      "id": "ai-tag"
    },
    {
      "name": "gemini",
      "id": "gemini-tag"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "n8n-yandex-cloud"
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "active": false
}
