workflows/telegram-fitbot.json
{
  "name": "FitBot - Помощник по пищевому поведению",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "chat-id",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "username",
              "name": "userName",
              "value": "={{ $json.message.from.first_name || 'Клиент' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8083d85-1889-4988-927a-8b95ab41783c",
      "name": "Extract User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1280,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, created_at FROM chat_history WHERE user_id = {{ $json.userId }} ORDER BY created_at DESC LIMIT 10",
        "options": {}
      },
      "id": "026da005-2f38-4b30-b81c-dce474dc80fc",
      "name": "Load Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1088,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "m8I7qpcLB2JzbKQ9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем результаты из PostgreSQL\nconst items = $input.all();\n\n// Получаем данные пользователя из предыдущего узла Extract User Data\nconst userData = $('Extract User Data').first().json;\n\n// Если истории нет - возвращаем пустой массив\nif (items.length === 0) {\n  return [{\n    json: {\n      history: [],\n      // Передаем данные пользователя дальше\n      userId: userData.userId,\n      chatId: userData.chatId,\n      userMessage: userData.userMessage,\n      userName: userData.userName,\n      timestamp: userData.timestamp\n    }\n  }];\n}\n\n// Форматируем историю для AI\nconst history = items.map(item => ({\n  role: item.json.role,\n  content: item.json.content,\n  created_at: item.json.created_at\n}));\n\nreturn [{\n  json: {\n    history: history,\n    // Передаем данные пользователя дальше\n    userId: userData.userId,\n    chatId: userData.chatId,\n    userMessage: userData.userMessage,\n    userName: userData.userName,\n    timestamp: userData.timestamp\n  }\n}];"
      },
      "id": "843efadb-755a-46f4-8d75-f6f4888fdb7a",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        112
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Получаем binary data из Read Knowledge Base\nconst item = $input.first();\n\nif (!item || !item.binary || !item.binary.data) {\n  return [{\n    json: {\n      knowledgeBase: 'База знаний не загружена'\n    }\n  }];\n}\n\n// Правильно извлекаем текст из binary data\n// В n8n binary data хранится как Buffer или base64 строка\nconst binaryData = item.binary.data;\nlet content;\n\ntry {\n  if (binaryData.data) {\n    // Если есть поле data, это base64\n    content = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n  } else if (Buffer.isBuffer(binaryData)) {\n    // Если это уже Buffer\n    content = binaryData.toString('utf-8');\n  } else {\n    content = 'Не удалось прочитать базу знаний';\n  }\n} catch (error) {\n  content = 'Ошибка чтения базы знаний: ' + error.message;\n}\n\nreturn [{\n  json: {\n    knowledgeBase: content\n  }\n}];"
      },
      "id": "e2c02ac2-083f-4577-9106-0d329b877a97",
      "name": "Load RAG Knowledge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        320
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/rags/fitbot/knowledge.txt"
      },
      "id": "dbdea03b-01a1-491c-9f29-ec850f81f8c4",
      "name": "Read Knowledge Base",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -1296,
        320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "f1ad6683-e344-4a4f-a650-7c7ac18965f3",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -864,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Merge - он объединяет все в один item\nconst mergedItem = $input.first().json;\n\n// Merge объединяет объекты, поэтому все поля должны быть на верхнем уровне\nconst userId = mergedItem.userId;\nconst chatId = mergedItem.chatId;\nconst userMessage = mergedItem.userMessage;\nconst userName = mergedItem.userName;\nconst timestamp = mergedItem.timestamp;\nconst knowledge = mergedItem.knowledgeBase || 'База знаний не загружена';\nconst history = mergedItem.history || [];\n\n// Проверяем что данные пользователя найдены\nif (!userId || !userMessage) {\n  throw new Error('Не найдены данные пользователя. Merged data: ' + JSON.stringify(mergedItem, null, 2));\n}\n\n// Реверсируем историю (сначала старые сообщения)\nconst reversedHistory = Array.isArray(history) ? [...history].reverse() : [];\n\n// Формируем массив сообщений для DeepSeek\nconst messages = [\n  {\n    role: 'system',\n    content: `Ты профессиональный консультант по здоровому питанию и коррекции пищевого поведения.\n\nТвоя задача - помогать клиентам:\n1. Понять основы правильного питания и физиологии похудения\n2. Разработать индивидуальный план питания\n3. Скорректировать пищевое поведение\n4. Достичь целей по снижению веса безопасно и эффективно\n5. Развенчать мифы о диетах и похудении\n\nТы используешь только научно обоснованные методы:\n- Дробное питание (5-6 раз в день)\n- Умеренный дефицит калорий (без голодания)\n- Правильное распределение БЖУ\n- Учёт гликемического индекса\n- Поддержание высокого метаболизма\n\nБудь внимательным, задавай уточняющие вопросы:\n- Текущий вес, рост, возраст, пол\n- Целевой вес и сроки\n- Режим дня и физическая активность\n- Пищевые привычки и предпочтения\n- Противопоказания и заболевания\n\nОбъясняй понятно, с научным обоснованием, но без перегрузки терминами.\nМотивируй, поддерживай, помогай выстроить правильные привычки.\n\n=== НАУЧНАЯ БАЗА ЗНАНИЙ ===\n${knowledge}\n=== КОНЕЦ БАЗЫ ЗНАНИЙ ===\n\n⚠️ КРИТИЧЕСКИ ВАЖНО - ОГРАНИЧЕНИЯ TELEGRAM:\n- Telegram имеет лимит 4096 символов на сообщение\n- Твой ответ должен быть КРАТКИМ и ЛАКОНИЧНЫМ\n- Максимум 2500-3000 символов (включая форматирование)\n- НЕ пиши длинные простыни текста\n- Структурируй ответ списками и короткими абзацами\n- Если тема большая - разбей на несколько коротких сообщений по сути\n- Говори по делу, без воды\n\nОтвечай на русском языке, используй форматирование Markdown для структурирования информации.\nВсегда опирайся на научные данные из базы знаний.`\n  }\n];\n\n// Добавляем историю (если есть)\nreversedHistory.forEach(msg => {\n  messages.push({\n    role: msg.role,\n    content: msg.content\n  });\n});\n\n// Добавляем текущее сообщение\nmessages.push({\n  role: 'user',\n  content: userMessage\n});\n\nreturn [\n  {\n    json: {\n      messages: messages,\n      userId: userId,\n      chatId: chatId,\n      userName: userName,\n      userMessage: userMessage,\n      timestamp: timestamp\n    }\n  }\n];"
      },
      "id": "72b2d1ca-0b1c-49d0-aa3b-67216cdca62e",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        224
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_history",
          "mode": "list",
          "cachedResultName": "chat_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "376bbd4e-6b7b-43ab-b0c3-d4d3f7b4aa9c",
      "name": "Save to History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        208,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "m8I7qpcLB2JzbKQ9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "de372c7c-bb43-4f11-a5b9-7aebe06ec629",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        224
      ],
      "webhookId": "fitbot-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "wKVWnRtsrAhWh9au",
          "name": "FitBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "b2e9aada-d051-4ad8-9f60-275009e58b24",
      "name": "DeepSeek AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "5k28f03QSg3ZrOeh",
          "name": "DeepSeekV3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst context = $('Build AI Context').first().json;\n\n// Извлекаем ответ от DeepSeek\nconst response = aiResponse.choices[0].message.content;\n\nreturn [\n  {\n    json: {\n      userId: context.userId,\n      chatId: context.chatId,\n      userName: context.userName,\n      userMessage: context.userMessage,\n      response: response,\n      timestamp: context.timestamp\n    }\n  }\n];"
      },
      "id": "a35d194b-58ee-49ef-8467-547fdb90be8e",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst now = new Date().toISOString();\n\n// Создаем 2 записи для PostgreSQL\nreturn [\n  {\n    json: {\n      user_id: data.userId,\n      role: 'user',\n      content: data.userMessage,\n      created_at: data.timestamp\n    }\n  },\n  {\n    json: {\n      user_id: data.userId,\n      role: 'assistant',\n      content: data.response,\n      created_at: now\n    }\n  }\n];"
      },
      "id": "4f50eeb4-68be-4759-83da-a68cb56bd50c",
      "name": "Prepare for Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "30358b18-382f-4469-8d60-77d3d819abe3",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        0,
        320
      ],
      "webhookId": "0364d411-3c8b-4130-bfa9-b281761b67b6",
      "credentials": {
        "telegramApi": {
          "id": "wKVWnRtsrAhWh9au",
          "name": "FitBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Knowledge Base": {
      "main": [
        [
          {
            "node": "Load RAG Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load RAG Knowledge": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "DeepSeek AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Prepare for Save",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Save": {
      "main": [
        [
          {
            "node": "Save to History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6d86aaa2-3db5-42ab-92c7-509f8abcd76b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53814074f06b7b5c9f98d5e8e8070a4c29be85d0115b2eb5224f97008ecdcc35"
  },
  "id": "GKfW3GIkNl5uIDRlS0Y_e",
  "tags": [
    {
      "updatedAt": "2026-02-01T19:01:14.892Z",
      "createdAt": "2026-02-01T19:01:14.892Z",
      "id": "lZccS9NCfAhH4WAP",
      "name": "telegram"
    },
    {
      "updatedAt": "2026-02-01T19:01:14.888Z",
      "createdAt": "2026-02-01T19:01:14.888Z",
      "id": "1u5kaGx7wSYdlOVY",
      "name": "ai"
    },
    {
      "updatedAt": "2026-02-01T19:01:14.897Z",
      "createdAt": "2026-02-01T19:01:14.897Z",
      "id": "UfDxYtRRk7yGNfhL",
      "name": "deepseek"
    },
    {
      "name": "fitbot",
      "id": "v5xRLxl7g28HYena",
      "updatedAt": "2026-02-01T21:30:27.780Z",
      "createdAt": "2026-02-01T21:30:27.780Z"
    },
    {
      "name": "fitness",
      "id": "2OMN5CimtN7RzkNk",
      "updatedAt": "2026-02-01T21:30:27.794Z",
      "createdAt": "2026-02-01T21:30:27.794Z"
    },
    {
      "name": "nutrition",
      "id": "e2Gc4sAfHytzjbUi",
      "updatedAt": "2026-02-01T21:30:27.795Z",
      "createdAt": "2026-02-01T21:30:27.795Z"
    },
    {
      "updatedAt": "2026-02-01T19:04:54.619Z",
      "createdAt": "2026-02-01T19:04:54.619Z",
      "id": "2Evxlle39wjdDpwX",
      "name": "rag"
    },
    {
      "updatedAt": "2026-02-01T19:04:54.613Z",
      "createdAt": "2026-02-01T19:04:54.613Z",
      "id": "R3B9ivxlxJex91qb",
      "name": "history"
    }
  ]
}