workflows/telegram-fitbot.json
{
  "name": "FitBot - Помощник по пищевому поведению",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "chat-id",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "username",
              "name": "userName",
              "value": "={{ $json.message.from.first_name || 'Клиент' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0bb948c8-144d-4027-a64e-df0d12358732",
      "name": "Extract User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2496,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, created_at FROM chat_history WHERE user_id = {{ $json.userId }} ORDER BY created_at DESC LIMIT 10",
        "options": {}
      },
      "id": "7d9a564a-033b-4dbf-8159-589399eb6505",
      "name": "Load Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2320,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "m8I7qpcLB2JzbKQ9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем результаты из PostgreSQL\nconst items = $input.all();\n\n// Получаем данные пользователя из предыдущего узла Extract User Data\nconst userData = $('Extract User Data').first().json;\n\n// Если истории нет - возвращаем пустой массив\nif (items.length === 0) {\n  return [{\n    json: {\n      history: [],\n      // Передаем данные пользователя дальше\n      userId: userData.userId,\n      chatId: userData.chatId,\n      userMessage: userData.userMessage,\n      userName: userData.userName,\n      timestamp: userData.timestamp\n    }\n  }];\n}\n\n// Форматируем историю для AI\nconst history = items.map(item => ({\n  role: item.json.role,\n  content: item.json.content,\n  created_at: item.json.created_at\n}));\n\nreturn [{\n  json: {\n    history: history,\n    // Передаем данные пользователя дальше\n    userId: userData.userId,\n    chatId: userData.chatId,\n    userMessage: userData.userMessage,\n    userName: userData.userName,\n    timestamp: userData.timestamp\n  }\n}];"
      },
      "id": "b40b685a-d315-4002-8697-5cbe3415ff37",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -176
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Получаем binary data из Read Knowledge Base\nconst item = $input.first();\n\nif (!item || !item.binary || !item.binary.data) {\n  return [{\n    json: {\n      knowledgeBase: 'База знаний не загружена'\n    }\n  }];\n}\n\n// Правильно извлекаем текст из binary data\n// В n8n binary data хранится как Buffer или base64 строка\nconst binaryData = item.binary.data;\nlet content;\n\ntry {\n  if (binaryData.data) {\n    // Если есть поле data, это base64\n    content = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n  } else if (Buffer.isBuffer(binaryData)) {\n    // Если это уже Buffer\n    content = binaryData.toString('utf-8');\n  } else {\n    content = 'Не удалось прочитать базу знаний';\n  }\n} catch (error) {\n  content = 'Ошибка чтения базы знаний: ' + error.message;\n}\n\nreturn [{\n  json: {\n    knowledgeBase: content\n  }\n}];"
      },
      "id": "c5d478d9-363a-4947-a699-a24baefb06e3",
      "name": "Load RAG Knowledge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        144
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/rags/fitbot/knowledge.txt"
      },
      "id": "52749c7f-7c8e-489d-9400-50366eb31f83",
      "name": "Read Knowledge Base",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -2432,
        144
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "98a12dbb-e1e8-4b98-b138-ea3d6b71f6e1",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1936,
        0
      ],
      "inputs": 3
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из Merge - он объединяет все в один item\nconst mergedItem = $input.first().json;\n\n// Merge объединяет объекты, поэтому все поля должны быть на верхнем уровне\nconst userId = mergedItem.userId;\nconst chatId = mergedItem.chatId;\nconst userMessage = mergedItem.userMessage;\nconst userName = mergedItem.userName;\nconst timestamp = mergedItem.timestamp;\nconst knowledge = mergedItem.knowledgeBase || 'База знаний не загружена';\nconst history = mergedItem.history || [];\nconst userProfile = mergedItem.userProfile || {};\n\n// Проверяем что данные пользователя найдены\nif (!userId || !userMessage) {\n  throw new Error('Не найдены данные пользователя. Merged data: ' + JSON.stringify(mergedItem, null, 2));\n}\n\n// Реверсируем историю (сначала старые сообщения)\nconst reversedHistory = Array.isArray(history) ? [...history].reverse() : [];\n\n// Формируем информацию о профиле пользователя\nlet profileInfo = '';\nif (userProfile && Object.keys(userProfile).length > 0) {\n  profileInfo = `\n\n=== ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ ===\nИмя: ${userProfile.name || 'не указано'}\nВозраст: ${userProfile.age || 'не указано'}\nВес: ${userProfile.weight || 'не указано'} кг\nРост: ${userProfile.height || 'не указано'} см\nЦель: ${userProfile.goal || 'не указана'}\n=== КОНЕЦ ПРОФИЛЯ ===`;\n}\n\n// Формируем массив сообщений для DeepSeek\nconst messages = [\n  {\n    role: 'system',\n    content: `Ты профессиональный консультант по здоровому питанию и коррекции пищевого поведения.\n\nТвоя задача - помогать клиентам:\n1. Понять основы правильного питания и физиологии похудения\n2. Разработать индивидуальный план питания\n3. Скорректировать пищевое поведение\n4. Достичь целей по снижению веса безопасно и эффективно\n5. Развенчать мифы о диетах и похудении\n\nТы используешь только научно обоснованные методы:\n- Дробное питание (5-6 раз в день)\n- Умеренный дефицит калорий (без голодания)\n- Правильное распределение БЖУ\n- Учёт гликемического индекса\n- Поддержание высокого метаболизма\n\nБудь внимательным, задавай уточняющие вопросы:\n- Текущий вес, рост, возраст, пол\n- Целевой вес и сроки\n- Режим дня и физическая активность\n- Пищевые привычки и предпочтения\n- Противопоказания и заболевания\n\nОбъясняй понятно, с научным обоснованием, с терминами.\nМотивируй, поддерживай, помогай выстроить правильные привычки.\n\n=== НАУЧНАЯ БАЗА ЗНАНИЙ ===\n${knowledge}\n=== КОНЕЦ БАЗЫ ЗНАНИЙ ===${profileInfo}\n\n⚠️ КРИТИЧЕСКИ ВАЖНО - ОГРАНИЧЕНИЯ TELEGRAM:\n- Telegram имеет лимит 4096 символов на сообщение Твой ответ должен быть КРАТКИМ и ЛАКОНИЧНЫМ (старайся укладываться в 2000 символов)\n- Говори по делу, без воды\n\n- Отвечай на русском языке\n- Структурируй ответ списками и короткими абзацами\n- Используй эмодзи\n- СТРОГО Используй ТОЛЬКО этот синтаксис для текста:  \n  1) Обычный текст\n  2) Жирный (2 звездочки) **текст**\n  3) Курсив (2 подчеркивания)  __текст__\n  4) Ссылки (квадратные и круглые скобки) [текст](ссылка)\n  5) Таблицы оборачивай в три обратных апострофа чтобы получить моноширинный текст\n`\n  }\n];\n\n// Добавляем историю (если есть)\nreversedHistory.forEach(msg => {\n  messages.push({\n    role: msg.role,\n    content: msg.content\n  });\n});\n\n// Добавляем текущее сообщение\nmessages.push({\n  role: 'user',\n  content: userMessage\n});\n\nreturn [\n  {\n    json: {\n      messages: messages,\n      userId: userId,\n      chatId: chatId,\n      userName: userName,\n      userMessage: userMessage,\n      timestamp: timestamp\n    }\n  }\n];"
      },
      "id": "8176f9fd-19e1-424a-8e9d-8d19fbaf1565",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        0
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_history",
          "mode": "list",
          "cachedResultName": "chat_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6e906f77-cde0-415e-bb6a-ae54e6ca7509",
      "name": "Save to History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -928,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "m8I7qpcLB2JzbKQ9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "34d48f3c-5365-4de3-98bf-b5a25b08465f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2736,
        16
      ],
      "webhookId": "fitbot-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "wKVWnRtsrAhWh9au",
          "name": "FitBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name, age, weight, height, goal FROM user_profiles WHERE user_id = {{ $json.userId }} LIMIT 1",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2320,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "m8I7qpcLB2JzbKQ9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем результаты из PostgreSQL\nconst items = $input.all();\nconst userData = $('Extract User Data').first().json;\n\n// Если профиля нет - возвращаем пустой объект\nif (items.length === 0) {\n  return [{\n    json: {\n      userProfile: {},\n      userId: userData.userId,\n      chatId: userData.chatId,\n      userMessage: userData.userMessage,\n      userName: userData.userName,\n      timestamp: userData.timestamp\n    }\n  }];\n}\n\n// Берем первую запись\nconst profile = items[0].json;\n\nreturn [{\n  json: {\n    userProfile: {\n      name: profile.name,\n      age: profile.age,\n      weight: profile.weight,\n      height: profile.height,\n      goal: profile.goal\n    },\n    userId: userData.userId,\n    chatId: userData.chatId,\n    userMessage: userData.userMessage,\n    userName: userData.userName,\n    timestamp: userData.timestamp\n  }\n}];"
      },
      "id": "f1e2d3c4-b5a6-7890-cdef-1234567890ab",
      "name": "Format User Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        280
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "34ff775e-f91a-45a4-82da-3ac099380092",
      "name": "DeepSeek AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "5k28f03QSg3ZrOeh",
          "name": "DeepSeekV3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst context = $('Build AI Context').first().json;\n\n// Извлекаем ответ от DeepSeek\nconst response = aiResponse.choices[0].message.content;\n\nreturn [\n  {\n    json: {\n      userId: context.userId,\n      chatId: context.chatId,\n      userName: context.userName,\n      userMessage: context.userMessage,\n      response: response,\n      timestamp: context.timestamp\n    }\n  }\n];"
      },
      "id": "68621a3e-a3b7-40c5-a9dd-07a75fa64bb6",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst now = new Date().toISOString();\n\n// Создаем 2 записи для PostgreSQL\nreturn [\n  {\n    json: {\n      user_id: data.userId,\n      role: 'user',\n      content: data.userMessage,\n      created_at: data.timestamp\n    }\n  },\n  {\n    json: {\n      user_id: data.userId,\n      role: 'assistant',\n      content: data.response,\n      created_at: now\n    }\n  }\n];"
      },
      "id": "4d6e839c-2891-4398-be4f-b16f72881935",
      "name": "Prepare for Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -176
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "id": "2ed96b35-7229-4d84-95aa-223a15d7d66c",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1136,
        176
      ],
      "webhookId": "0364d411-3c8b-4130-bfa9-b281761b67b6",
      "credentials": {
        "telegramApi": {
          "id": "wKVWnRtsrAhWh9au",
          "name": "FitBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Load Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Format User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Knowledge Base": {
      "main": [
        [
          {
            "node": "Load RAG Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load RAG Knowledge": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format User Profile": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "DeepSeek AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Prepare for Save",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Save": {
      "main": [
        [
          {
            "node": "Save to History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Knowledge Base",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c0e99fe6-f4b9-4acf-b721-f4fa33471a4c",
  "meta": {
    "instanceId": "53814074f06b7b5c9f98d5e8e8070a4c29be85d0115b2eb5224f97008ecdcc35"
  },
  "id": "MY4X7UFWG84HnDk7jOD0E",
  "tags": [
    {
      "updatedAt": "2026-02-01T21:30:27.780Z",
      "createdAt": "2026-02-01T21:30:27.780Z",
      "id": "v5xRLxl7g28HYena",
      "name": "fitbot"
    },
    {
      "updatedAt": "2026-02-01T19:01:14.897Z",
      "createdAt": "2026-02-01T19:01:14.897Z",
      "id": "UfDxYtRRk7yGNfhL",
      "name": "deepseek"
    },
    {
      "updatedAt": "2026-02-01T19:04:54.613Z",
      "createdAt": "2026-02-01T19:04:54.613Z",
      "id": "R3B9ivxlxJex91qb",
      "name": "history"
    },
    {
      "updatedAt": "2026-02-01T19:01:14.892Z",
      "createdAt": "2026-02-01T19:01:14.892Z",
      "id": "lZccS9NCfAhH4WAP",
      "name": "telegram"
    },
    {
      "updatedAt": "2026-02-01T21:30:27.795Z",
      "createdAt": "2026-02-01T21:30:27.795Z",
      "id": "e2Gc4sAfHytzjbUi",
      "name": "nutrition"
    },
    {
      "updatedAt": "2026-02-01T21:30:27.794Z",
      "createdAt": "2026-02-01T21:30:27.794Z",
      "id": "2OMN5CimtN7RzkNk",
      "name": "fitness"
    },
    {
      "updatedAt": "2026-02-01T19:04:54.619Z",
      "createdAt": "2026-02-01T19:04:54.619Z",
      "id": "2Evxlle39wjdDpwX",
      "name": "rag"
    },
    {
      "updatedAt": "2026-02-01T19:01:14.888Z",
      "createdAt": "2026-02-01T19:01:14.888Z",
      "id": "1u5kaGx7wSYdlOVY",
      "name": "ai"
    }
  ]
}